$primary: #f868f8;
$dark: #730adb;
$font-family-sans-serif:
  "Heebo",
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
$headings-font-family: "Playfair Display";
$list-group-active-color: $primary;
$list-group-active-bg: white;
$card-cap-bg: white;
$card-border-color: $primary;
